absl-py
astor
audio-toolbox
autopep8
bleach
cffi
gast
grpcio
h5py
html5lib
imageio
Keras
Markdown
numpy
pandas
Pillow
protobuf
pycodestyle
pycparser
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
sklearn
SoundFile
speechpy
tensorboard
tensorflow
termcolor
Werkzeug
